
      h1 {
         color: white;
         position: relative;
            font-size: 28pt;
            top: -350px;
      }
h2 {
    position: relative;
    top: -550px;
}
      body {
         background-image: url("https://images.genius.com/9fda81dde5dba59613fdee7dc7467c77.1000x1000x1.jpg");
            background-size: 1400px 750px;
            background-repeat: no-repeat;
      }
img.raf {
          height: 200px;
          width: 300px;
      margin-left: 500px;
  
      }
   img#a {
    position: relative;
    top: 200px;
    left: 800px;
}

h3 {
      position: relative;
      top: -700px;
      margin-left: 830px;
      color: blue;
}
h4 {
      position: relative;
      margin-left: 500px;
      top: -900px;
      
}
h5 {
      position: relative;
      top: -850px;
}
audio{
      position: static;
      margin-left: 500px;
}
iframe {
      position: relative;
      margin-left: 500px;
}
