
      h1 {
         color: white;
         font-size: 28pt;
      }
h2 {
    position: relative;
    top: -200px;
}
      body {
         background-image: url("https://images.genius.com/9fda81dde5dba59613fdee7dc7467c77.1000x1000x1.jpg");
            background-size: 1400px 750px;
            background-repeat: no-repeat;
      }
img.rocky {
          height: 200px;
          width: 300px;
      margin-left: 500px;
  
      }
   img#a {
    position: relative;
    top: 40px;
    left: 500px;
}
button {
      position: relative;
      margin-left: 500px;
            top: -700px;
      color: blue;
}
h3 {
      position: relative;
      top: -300px;
      margin-left: 500px;
      color: blue;
}
h4 {
      position: relative;
      margin-left: 500px;
      top: -800px;
      color: white;
}
h5 {
      position: relative;
      top: -500px;
}

