
      h1 {
         color: white;
         font-size: 28pt;
      }
h2 {
    position: relative;
    top: -200px;
}
      body {
         background-image: url("https://images.genius.com/9fda81dde5dba59613fdee7dc7467c77.1000x1000x1.jpg");
            background-size: 1400px 750px;
            background-repeat: no-repeat;
      }
img.rocky {
          height: 200px;
          width: 300px;
      margin-left: 500px;
  
      }
   img#a {
    position: relative;
    top: 40px;
    left: 500px;
}

<div id="London" class="city">
  <h2>London</h2>
  <p>London is the capital of England.</p>
</div>

<div id="Paris" class="city" style="display:none">
  <h2>Paris</h2>
  <p>Paris is the capital of France.</p> 
</div>

<div id="Tokyo" class="city" style="display:none">
  <h2>Tokyo</h2>
  <p>Tokyo is the capital of Japan.</p>
</div>
